@color_gray: #424242;
@color_white: #ffffff;
@bg-img: url("../img/bg.jpg");
@spacers: 10px;
.logo {
  padding: 0.5rem;
}

h6{
  &.title-text {
    color: @color_white;
    text-align: right;
    padding: 1rem 0;
    margin: 0;
  }
}

.header {
  background-color: @color_gray;
  //height: 4rem;

  .title {
    margin: 0
  }
}

.main{
  height: 100rem;

  .wrapper-login {
    background-image: @bg-img;
    background-repeat: no-repeat;
    height: 50rem;
    background-size: 1308px 500px;
    //background-size: cover;
    .txtWelcome{
      color:white;
    }
  }
  
  .wrapper-profile {
    height: auto;
  }
}

.footer {
}

@media (max-width: 60rem) {
  .main{
    height: 100rem;

    .wrapper-login {
      height: 30rem;
      // background-size: 600px 300px;
      background-size: cover !important;
      background-repeat: no-repeat;
      background-position: center;
    }

    .wrapper-profile {
      height: auto;
    }
  }

  .footer {
  }
}

@media (max-width: 80rem) {
  .main{
    height: 100rem;
    .wrapper-login {
      height: 30rem;
      background-size: 800px 300px;
      background-position: center;
    }

    .wrapper-profile {
      height: auto;
    }
  }

  .footer {
  }
}

@media (max-width: 136.6rem) {
  .main{
    height: 100rem;

    .wrapper-login {
      height: 30rem;
      background-size: 136rem 30rem;
      // background-size: cover !important;
      background-position: center;
    }

    .wrapper-profile {
      height: auto;
    }
  }

  .footer {
  }
}

@media (min-width: 136.6rem) {
  .main{
    height: 100rem;
    .wrapper-login {
      height: 30rem;
      background-size: 200rem 30rem;
      // background-size: cover !important;
      background-position: center;
    }

    .wrapper-profile {
      height: auto;
    }
  }

  .footer {
  }
}

h2.txtWelcome
{
  padding-top: 220px !important;
}
//Avatar
.displayblock{
  display: block;
}

