.header {
  background-color: #424242;
  height: 4rem;
}

.logo {
  padding: 0.5rem;
}

.main {
  background-image: url(/img/bg.jpg);
}

h3.title {
  color: white;
  text-align: right;
  padding: 1rem 4rem;
  margin: 0;
}
